<a href="https://colab.research.google.com/github/ExCaLBBR/ExCaLBBR_Projects/blob/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/code/Gorilla2BIDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gorilla Info: <br>
Project: RacializedGenderedName_SessionFlow <br>
Version: 5 <br>
Account: Roberto Vargas (robertov@andrew.cmu.edu)

In [ ]:
#Load relevant libraries
import pandas as pd

In [ ]:
#Define paths to session files
url = 'https://raw.githubusercontent.com/mlabovit/mlabovit.github.io/main/names_task.csv'
df1 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [ ]:
#Isolate relevant columns: Check
include = ['Participant Completion Code', 'Reaction Time', 'Screen Name', 'Response', '# name']
df1.drop(columns=df1.columns.difference(include), inplace=True)

dropRows = []
for (index, row) in df1.iterrows():
    if type(row['# name']) != str:
        dropRows.append(index)
df1.drop(labels = dropRows, axis = 0, inplace = True)

In [ ]:
#Isolate relevant columns: Task_RGN
include = ['Participant Completion Code', 'Reaction Time', 'Screen Name', 'Response', '# name']
df1.drop(columns=df1.columns.difference(include), inplace=True)

dropRows = []
for (index, row) in df1.iterrows():
    if type(row['# name']) != str:
        dropRows.append(index)
df1.drop(labels = dropRows, axis = 0, inplace = True)

Test inclusion

In [ ]:
display(df1)

   Screen Name  Reaction Time                     Response     # name
2         Race         2625.9    Black or African American     # Amir
3       Gender         1343.7                         Male     # Amir
4         Race        15928.6             Chinese American   # Yuxuan
5       Gender         1645.0                       Female   # Yuxuan
6         Race         3635.3  Caucasian or White American   # Haoran
..         ...            ...                          ...        ...
77      Gender          820.4                         Male  # Garrett
78        Race         1073.9  Caucasian or White American     # Emma
79      Gender          515.1                       Female     # Emma
80        Race         1575.3             Chinese American    # Yihan
81      Gender         1039.3                       Female    # Yihan

[80 rows x 4 columns]

Reformat data by creating a pivot table

In [ ]:
pilot_name_df1 = df1.pivot(index = '# name', columns = ['Screen Name'], values = ['Response', 'Reaction Time'])
display(pilot_name_df1)

            Response                              Reaction Time
Screen Name   Gender                         Race        Gender     Race
# name
# Aaliyiah    Female    Black or African American         514.6   1670.0
# Aisha       Female    Black or African American         530.8   1320.7
# Amir          Male    Black or African American        1343.7   2625.9
# Angelica    Female  Caucasian or White American         623.5   3389.9
# Becky       Female  Caucasian or White American        1109.8   1364.2
# Brody         Male  Caucasian or White American         813.8   1942.8
# Charlotte   Female  Caucasian or White American         644.1   1305.0
# Deshawn       Male    Black or African American         487.1   1126.7
# Emma        Female  Caucasian or White American         515.1   1073.9
# Enrique       Male           Hispanic or Latino        3316.8   1765.2
# Garrett       Male  Caucasian or White American         820.4   2518.6
# Haoran        Male  Caucasian or White American         579.5   3635.3
# Haoyu         Male             Chinese American       49382.8  33403.3
# Ian           Male  Caucasian or White American         601.5   1287.0
# Jack          Male  Caucasian or White American        1089.0   1475.6
# Jasmine     Female    Black or African American         589.2   1434.3
# Jerome        Male    Black or African American         656.7   6093.5
# Jose          Male           Hispanic or Latino        1270.6   3275.7
# Juan          Male           Hispanic or Latino         804.3   1183.0
# Kiana       Female    Black or African American         826.8   1643.7
# Liyah       Female    Black or African American         746.2   4271.8
# Lucia       Female           Hispanic or Latino         470.2   1488.8
# Magda       Female           Hispanic or Latino        1119.4   2693.4
# Mariella    Female           Hispanic or Latino        1188.9   5898.2
# Marisol     Female           Hispanic or Latino        1356.9   2710.1
# Mckensie    Female  Caucasian or White American         798.0   3102.2
# Mingze      Female             Chinese American        1753.0   2041.6
# Olivia      Female  Caucasian or White American         596.3   1210.7
# Pablo         Male           Hispanic or Latino         578.7   1607.6
# Ricardo       Male           Hispanic or Latino         596.9   1897.2
# Ruoxi         Male             Chinese American        1305.5   2058.5
# Spencer       Male  Caucasian or White American         798.6   1620.8
# Treyvone      Male    Black or African American         459.5   1391.1
# Tyrone        Male    Black or African American         660.1   1209.0
# Xinyi       Female             Chinese American        4793.1   1231.4
# Yihan       Female             Chinese American        1039.3   1575.3
# Yinue       Female             Chinese American        1948.7   2108.0
# Yize          Male             Chinese American       11771.2   2290.4
# Yuxi        Female             Chinese American         450.4   3001.0
# Yuxuan      Female             Chinese American        1645.0  15928.6