<a href="https://colab.research.google.com/github/ExCaLBBR/ExCaLBBR_Projects/blob/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/code/Gorilla2BIDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Todo
#Check output data frame
#Save files to github

Gorilla Info: <br>
Project: RacializedGenderedName_SessionFlow <br>
Version: 5 <br>
Account: Roberto Vargas (robertov@andrew.cmu.edu)

In [1]:
#Load relevant libraries
import pandas as pd

In [2]:
# Store in a Pandas Dataframe

#Define paths to session files
url_check = 'https://raw.githubusercontent.com/ExCaLBBR/ExCaLBBR_Projects/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/data/data_checkQ.csv'
df_check = pd.read_csv(url_check)

#Define paths to session files
url_demographic = 'https://raw.githubusercontent.com/ExCaLBBR/ExCaLBBR_Projects/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/data/data_demographic.csv'
df_demographic = pd.read_csv(url_demographic)

#Define paths to session files
url_taskRGN = 'https://raw.githubusercontent.com/ExCaLBBR/ExCaLBBR_Projects/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/data/data_task_RGN.csv'
df_taskRGN = pd.read_csv(url_taskRGN)

In [3]:
#Isolate relevant columns: Check
include = ['Participant Completion Code', 'Question Key', 'Screen Name', 'Response']
df_check = df_check[~df_check['Event Index'].str.contains('END OF FILE', na=True)]
df_check.drop(columns=df_check.columns.difference(include), inplace=True)
mask = df_check['Question Key'].str.contains('BEGIN QUESTIONNAIRE', na=True) | df_check['Question Key'].str.contains('END QUESTIONNAIRE', na=True)
df_check = df_check[~mask]
#display(df_check)

#Isolate relevant columns: Demographics
include = ['Participant Completion Code', 'Question Key', 'Response']
df_demographic = df_demographic[~df_demographic['Event Index'].str.contains('END OF FILE', na=True)]
df_demographic.drop(columns=df_demographic.columns.difference(include), inplace=True)
mask = df_demographic['Question Key'].str.contains('BEGIN QUESTIONNAIRE', na=True) | df_demographic['Question Key'].str.contains('END QUESTIONNAIRE', na=True) | df_demographic['Question Key'].str.contains('quantised', na=True) | df_demographic['Question Key'].str.contains('response-2', na=True)
df_demographic = df_demographic[~mask]
#display(df_demographic)

#Isolate relevant columns: Task_RGN
include = ['Participant Completion Code', 'Reaction Time', 'Screen Name', 'Response', '# name', 'Trial Number']
df_taskRGN = df_taskRGN[~df_taskRGN['Event Index'].str.contains('END OF FILE', na=True)]
df_taskRGN.drop(columns=df_taskRGN.columns.difference(include), inplace=True)
mask = df_taskRGN['Trial Number'].str.contains('BEGIN TASK', na=True) | df_taskRGN['Trial Number'].str.contains('END TASK', na=True) | df_taskRGN['Screen Name'].str.contains('Start', na=True)
df_taskRGN = df_taskRGN[~mask]
#display(df_taskRGN)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
display(df_taskRGN)

,Participant Completion Code,Trial Number,Screen Name,Reaction Time,Response,# name
2,vcdueq,1,Race,1620.600000,Black American,# Jamal
3,vcdueq,1,Gender,1619.400000,Male,# Jamal
4,vcdueq,2,Race,1328.700000,Chinese American,# Muyang
5,vcdueq,2,Gender,787.600000,Female,# Muyang
6,vcdueq,3,Race,3479.300000,Hispanic or Latino,# Sam
...,...,...,...,...,...,...
14874,xesqkj,43,Gender,752.799999,Male,# Garrett
14875,xesqkj,44,Race,1238.100000,White American,# Emma
14876,xesqkj,44,Gender,572.800000,Female,# Emma
14877,xesqkj,45,Race,1104.400000,Chinese American,# Yihan
14878,xesqkj,45,Gender,499.700000,Female,# Yihan

In [10]:
#Isolate Pivot dataframes: Check
#df_check = df_check.pivot(index = 'Participant Completion Code', columns = ['Question Key'], values = ['Response'])
#display(df_check)

#Isolate Pivot dataframes: Demographics
#df_demographic = df_demographic.pivot(index = 'Participant Completion Code', columns = ['Question Key'], values = ['Response'])
#display(df_demographic)

#Isolate Pivot dataframes: Task_RGN
#df_taskRGN_test = df_taskRGN.pivot(index = '# name', columns = ['Screen Name'], values = ['Response', 'Reaction Time'])
#display(df_taskRGN_test)

a = df_taskRGN['Participant Completion Code'].unique()
piIdx = df_taskRGN['Participant Completion Code'].str.contains('vcdueq', na=True)
pi = df_taskRGN[piIdx]
pi = pi.pivot(index = '# name', columns = ['Screen Name'], values = ['Response', 'Reaction Time'])
display(pi)

#df_taskRGN_iter = []
#for pID in df_taskRGN['Participant Completion Code'].unique(): 
#  piIdx = df_taskRGN['Participant Completion Code'].str.contains(pID, na=True)
#  pi = df_taskRGN[piIdx]
#  pi = pi.pivot(index = '# name', columns = ['Screen Name'], values = ['Response', 'Reaction Time'])

            Response                     Reaction Time
Screen Name   Gender                Race        Gender      Race
# name
# Aaliyiah      Male  Hispanic or Latino         804.3    8305.9
# Aisha       Female      Black American         620.8    1769.1
# Alex          Male      White American        1076.8    2321.4
# Becky       Female      White American         611.3    1024.3
# Brody         Male      White American         524.8     841.0
# Casey       Female      White American         628.8    1208.8
# Charlotte   Female      White American         795.1   35138.1
# Deshawn       Male      Black American         589.1    1320.3
# Emma        Female      White American         660.2    1771.8
# Enrique       Male      Black American         716.2    1273.2
# Gabriella   Female      White American         452.5    1096.1
# Garrett     Female      White American         605.0     985.9
# Haoran        Male    Chinese American         987.9    1160.5
# Haoyu         Male    Chinese American         731.5  973097.6
# Ian           Male      White American         451.6    1001.6
# Jack          Male      White American         796.3    1656.8
# Jamal         Male      Black American        1619.4    1620.6
# Jamie       Female      White American         443.6    1279.4
# Jasmine     Female      Black American         908.8    1024.4
# Jerome        Male      Black American         668.7    1328.9
# Jose          Male  Hispanic or Latino         715.9    1121.6
# Juan          Male  Hispanic or Latino         860.6    1064.5
# Kiana       Female      White American        1093.0    1536.8
# Liyah       Female      Black American         627.8    3058.5
# Lucia       Female  Hispanic or Latino         803.9  118152.3
# Magda       Female  Hispanic or Latino        1020.5    1120.9
# Mariella    Female      White American         546.8    1177.6
# Marisol     Female      Black American        1052.6     800.9
# Mckensie    Female      White American         564.2    1216.7
# Mingze      Female    Chinese American         804.5   77888.8
# Muyang      Female    Chinese American         787.6    1328.7
# Olivia      Female      White American        1181.6   18113.7
# Pablo         Male  Hispanic or Latino         620.7     866.3
# Ricardo       Male  Hispanic or Latino         516.9     816.2
# Riley         Male      White American         916.7    1104.9
# Sam           Male  Hispanic or Latino         627.1    3479.3
# Spencer       Male      White American        1012.3    4506.4
# Ting        Female    Chinese American         709.1     856.6
# Treyvone      Male      Black American        1156.6    1322.6
# Tyrone        Male      Black American        1308.8    1033.7
# Xinyi         Male    Chinese American         484.1    1031.1
# Yihan       Female    Chinese American         483.3     930.6
# Yinuo         Male    Chinese American         668.4     929.1
# Yize        Female    Chinese American        1436.9    6857.8
# Yuxi          Male    Chinese American         603.6    1017.7

In [ ]:
for (index, row) in df1.iterrows():
    if type(row['# name']) != str:
        dropRows.append(index)
df1.drop(labels = dropRows, axis = 0, inplace = True)

In [ ]:
display(df_demographic)

                             Response                                         \
Question Key                EngFluent age  gender                 raceEth_v2
Participant Completion Code
abyelt                            Yes  31    male  Black or African American
aejujn                            Yes  22    Male                      Asian
aesfae                            Yes  32    male                      White
agqsng                            Yes  39    Male  Black or African American
ajmxuh                            Yes  39    male  Black or African American
...                               ...  ..     ...                        ...
zgopij                            Yes  31    Male                      Asian
zpjjmd                            Yes  31    Male  Black or African American
zpwexe                            Yes  26  female         Hispanic or Latino
zxceci                            Yes  56    male                      White
zxzubx                            Yes  46  Female         Hispanic or Latino


Question Key                raceEth_v2-text
Participant Completion Code
abyelt                                  NaN
aejujn                                  NaN
aesfae                                  NaN
agqsng                                  NaN
ajmxuh                                  NaN
...                                     ...
zgopij                                  NaN
zpjjmd                                  NaN
zpwexe                                  NaN
zxceci                                  NaN
zxzubx                                  NaN

[160 rows x 5 columns]