<a href="https://colab.research.google.com/github/ExCaLBBR/ExCaLBBR_Projects/blob/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/analysis/RGN_proportions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load relevant libraries

In [46]:
import pandas as pd

Data url dir

In [47]:
# RGN data
fil = 'https://raw.githubusercontent.com/ExCaLBBR/ExCaLBBR_Projects/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/data/taskRGN.csv'

#SpecRemove specific participants
  #Current condition: fixed responded & incorrect response to check
rem = ['dwgxuk', 'tdqdqk', 'ppluks']

Load RGN data

In [48]:

df_task = pd.read_csv(fil, index_col = 0, header = [0,1,2])
#display(df_task)

Parse relevant substructures

In [49]:
df_RaceLabels = df_task['Response']['Race']
df_GenderLabels = df_task['Response']['Gender']
df_RaceRT = df_task['Reaction Time']['Gender']
df_GenderRT = df_task['Reaction Time']['Gender']

Remove specified participants

In [50]:
remIdxRL = [df_RaceLabels.columns.get_loc(r) for r in rem if r in df_RaceLabels]
remIdxGL = [df_GenderLabels.columns.get_loc(r) for r in rem if r in df_GenderLabels]
remIdxRT = [df_RaceRT.columns.get_loc(r) for r in rem if r in df_RaceRT]
remIdxGT = [df_GenderRT.columns.get_loc(r) for r in rem if r in df_GenderRT]

Obtain sub-dataframes corresponding to relevant features

In [51]:
df_RaceLabels = df_RaceLabels.drop(df_RaceLabels.columns[remIdxRL],axis = 1)
df_GenderLabels  = df_GenderLabels.drop(df_GenderLabels.columns[remIdxGL],axis = 1)
df_RaceRT  = df_RaceRT.drop(df_RaceRT.columns[remIdxRT],axis = 1)
df_GenderRT  = df_GenderRT.drop(df_GenderRT.columns[remIdxGT],axis = 1)

Obtain proportions for Race Labels

In [52]:
# df_RaceLabels

In [53]:
 
names_race = df_RaceLabels.index.values

hispanicLatinoCount, blackAmericanCount, whiteAmericanCount, chineseAmericanCount = 0, 0, 0, 0
name_race_dict = dict()
participantCount = df_RaceLabels.shape[1]
for (index, row) in df_RaceLabels.iterrows():
    race_label_dict = dict()
    for entry in row.values:
      if entry not in race_label_dict:
        race_label_dict[entry] = 1
      else:
        race_label_dict[entry] += 1
    for raceLabelKey in race_label_dict:
        raceLabelCount = race_label_dict[raceLabelKey]
        race_label_dict[raceLabelKey] = raceLabelCount / participantCount
    if index not in name_race_dict:
        name_race_dict[index] = race_label_dict
# print(name_race_dict)
df_RaceLabelProportion = pd.DataFrame.from_dict(name_race_dict, orient = "index")

In [54]:
df_RaceLabelProportion

,Hispanic or Latino,White American,Black American,Chinese American
# Aaliyiah,0.044586,0.057325,0.866242,0.031847
# Aisha,0.070064,0.050955,0.789809,0.089172
# Alex,0.082803,0.872611,0.025478,0.019108
# Becky,0.031847,0.891720,0.044586,0.031847
# Brody,0.019108,0.821656,0.133758,0.025478
# Casey,0.012739,0.910828,0.044586,0.031847
# Deshawn,0.031847,0.019108,0.917197,0.031847
# Emma,0.025478,0.853503,0.076433,0.044586
# Enrique,0.878981,0.044586,0.070064,0.006369
# Gabriella,0.624204,0.280255,0.070064,0.025478
# Garrett,0.031847,0.853503,0.089172,0.025478
# Haoran,0.178344,0.012739,0.057325,0.751592
# Haoyu,0.031847,0.006369,0.025478,0.936306
# Ian,0.044586,0.847134,0.057325,0.050955
# Jack,0.006369,0.961783,0.019108,0.012739
# Jamal,0.070064,0.019108,0.904459,0.006369
# Jamie,0.050955,0.789809,0.133758,0.025478
# Jasmine,0.146497,0.286624,0.503185,0.063694
# Jose,0.872611,0.070064,0.025478,0.031847
# Juan,0.891720,0.019108,0.031847,0.057325
# Kiana,0.057325,0.101911,0.700637,0.140127
# Liyah,0.121019,0.095541,0.484076,0.299363
# Lucia,0.675159,0.197452,0.095541,0.031847
# Magda,0.547771,0.146497,0.121019,0.184713
# Mariella,0.808917,0.127389,0.044586,0.019108
# Marisol,0.840764,0.038217,0.070064,0.050955
# Mckensie,0.025478,0.878981,0.063694,0.031847
# Mingze,0.019108,NaN,0.025478,0.955414
# Muyang,0.012739,0.006369,0.025478,0.955414
# Olivia,0.203822,0.700637,0.070064,0.025478
# Pablo,0.898089,0.025478,0.038217,0.038217
# Ricardo,0.878981,0.050955,0.057325,0.012739
# Riley,0.031847,0.885350,0.070064,0.012739
# Sam,0.012739,0.942675,0.038217,0.006369
# Spencer,0.012739,0.898089,0.050955,0.038217
# Ting,0.012739,0.012739,0.019108,0.955414
# Treyvone,0.070064,0.025478,0.885350,0.019108
# Tyrone,0.012739,0.050955,0.891720,0.044586
# Xinyi,0.012739,NaN,0.025478,0.961783
# Yihan,0.031847,0.006369,0.012739,0.949045
# Yinuo,0.031847,NaN,0.019108,0.949045
# Yize,0.044586,0.006369,0.031847,0.917197
# Yuxi,0.044586,0.006369,0.019108,0.929936
# Charlotte,NaN,0.878981,0.101911,0.019108
# Jerome,NaN,0.108280,0.878981,0.012739

Display race labels percentage

Verify the four proportions add up to 1

Obtain proportions for Gender Labels

In [55]:
# df_GenderLabels

In [56]:
names_gender = df_GenderLabels.index.values
# names_gender

maleCount, femaleCount = 0, 0
for (index, row) in df_GenderLabels.iterrows():
  for key in row.values:
    if key == "Male":
      maleCount += 1
    elif key == "Female":
      femaleCount += 1
participantCount = df_GenderLabels.shape[1]
totalAnswerCount = len(names_gender) * participantCount
malePerc = maleCount / totalAnswerCount
femalePerc = femaleCount / totalAnswerCount

Display gender labels percentage

In [57]:
genderLabelPercentage = {
    "Female": [f"{femalePerc*100}%"], 
    "Male": [f"{malePerc*100}%"],
}
df_GenderLabelProportion = pd.DataFrame(data = genderLabelPercentage, index = ["Percentage"])
df_GenderLabelProportion

                        Female                 Male
Percentage  47.78485491861288%  52.215145081387114%

Verify the two gender proportions add up to 1

In [58]:
femalePerc + malePerc

1.0

Loading demographic data and processing

In [59]:
demographic_url = 'https://raw.githubusercontent.com/ExCaLBBR/ExCaLBBR_Projects/main/RaciallyBiasedDecisions/Racialized-Gendered_Names/data/raw/data_demographic.csv'
df_demographic = pd.read_csv(demographic_url)
include = ["Participant Completion Code", "Question Key", "Response"]
df_demographic.drop(columns=df_demographic.columns.difference(include), inplace=True)
remIdxCode = []
for (index, row) in df_demographic.iterrows():
  if row["Participant Completion Code"] in rem:
    remIdxCode.append(index)
df_demographic.drop(remIdxCode, inplace = True)
remIdxRG = []
for (index, row) in df_demographic.iterrows():
  if row["Question Key"] not in ["raceEth_v2", "gender"]:
    remIdxRG.append(index)
df_demographic.drop(remIdxRG, inplace = True)
df_demographic

     Participant Completion Code Question Key                   Response
2                         vcdueq       gender                     female
3                         vcdueq   raceEth_v2                      White
12                        dhyrks       gender                     female
13                        dhyrks   raceEth_v2                      White
22                        lpuvnk       gender                     Female
...                          ...          ...                        ...
1573                      xesqkj   raceEth_v2                      Asian
1582                      ltahas       gender                       Male
1583                      ltahas   raceEth_v2                      White
1592                      vhpxit       gender                     female
1593                      vhpxit   raceEth_v2  Black or African American

[314 rows x 3 columns]

In [60]:

# Pair demographic with RGN: Compute proportions for Race Labels and Gender Labels by each of 4 groups
  #This will require loading the demographic csv file
#Compute Reaction time for each # name across identity groups

In [61]:
%pwd

'/content'